## Directory-based project format
.idea/
Q-municate/.idea/

.DS_Store
Q-municate/.DS_Store

Pods/
Q-municate/Pods/

## Standard Xcode.gitignore from https://github.com/github/gitignore/blob/master/Global/Xcode.gitignore
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa


Q-municate/build/
Q-municate/*.pbxuser
Q-municate/!default.pbxuser
Q-municate/*.mode1v3
Q-municate/!default.mode1v3
Q-municate/*.mode2v3
Q-municate/!default.mode2v3
Q-municate/*.perspectivev3
Q-municate/!default.perspectivev3
Q-municate/xcuserdata
Q-municate/*.xccheckout
Q-municate/profile
Q-municate/*.moved-aside
Q-municate/DerivedData
Q-municate/*.hmap
