<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Tell Alex i&apos;ll be right there with Q-municate</string>
				<string>Send a message to Kate with Q-municate</string>
				<string>Text Alex using Q-municate where are you?</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
